Flask==3.1.1
Flask-Cors==6.0.1
gunicorn==23.0.0

PyJWT==2.10.1
bcrypt==4.3.0
python-dotenv==1.1.1

requests==2.32.4

marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.2

Flask-JWT-Extended==4.7.1

email-validator==2.2.0

Pillow==11.3.0

redis==6.2.0

APScheduler==3.11.0

cryptography==45.0.6

python-dateutil==2.9.0.post0
